<%= render 'profile/form'%>

<div class="container">
<%= link_to 'Back', "/profile/#{params[:user_id]}" %>
    <%= link_to 'Edit credentials' , edit_user_registration_path	, class: "btn btn-dark" %>
</div>